@model Lab.EF.MVC.Models.CategoriesView
@{
    ViewBag.Title = ViewData["BtnText"];
}

<div class="card m-auto my-4">
    <h3>@ViewBag.Title</h3>
    @using (Html.BeginForm(ViewData["Action"].ToString(), "Categories", FormMethod.Post))
    {
        <div class="inputbox">
            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
            <span class="inputspan">Nombre de la categoría</span>
            @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger mt-4 d-block" })
        </div>
        <div class="inputbox">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            <span class="inputspan">Descripción</span>
        </div>

        <input type="submit" value="@ViewData["BtnText"]" class="btn btn-primary btn-block d-block" />
        @Html.ActionLink("Volver atrás", "Index", "Categories", new { @class = "btn text-primary text-decoration-underline btn-block p-0 mt-1" })
    }
</div>

