@model List<Lab.EF.MVC.Models.CategoriesView>
@{
    ViewBag.Title = "Categorías";
}

<h2 class="mb-4 mt-0 pt-0 text-center">Categorías</h2>

<table class="table table-hover my-3 bg-white">
    <thead>
        <tr class="bg-primary text-white">
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Lab.EF.MVC.Models.CategoriesView category in Model)
        {
            <tr>
                <td class="fw-bold">@category.CategoryName</td>
                <td>@category.Description</td>
                <td>
                    @Html.ActionLink(" ", "Update", new { id = category.Id }, new { @class = "btn btn-warning rounded-circle bi-pencil-square text-white", title = "Actualizar categoría" })
                    <button 
                        class="btn btn-danger rounded-circle bi-trash"
                        onclick = "mostrarAlerta('Categories', 'Delete', @category.Id, '¿Estás seguro que deseas eliminar la categoría?')"
                    ></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink(" Añadir categoría", "Add", new { }, new { @class = "btn btn-success bi-plus-circle", title = "Añadir categoría" })

<a ></a>